

@layer tokens {
  :root {
    --primary--background: var(--_color---neutral--neutral-500);
    --primary--background-secondary: var(--_color---neutral--neutral-400);

    --primary--text: var(--_color---neutral--neutral-100);
    --primary--text-secondary: var(--_color---neutral--neutral-200);

    --primary--accent: var(--_color---primary--gold-500);
    --primary--accent-light: var(--_color---primary--gold-100);
    --primary--accent-dark: var(--_color---primary--gold-500);
  }
}
